spring:
  profiles: prod
  data:
    redis:
      host: redis
      port: 6379
      password: # Optional, leave empty if no password
      database: 0
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
