server:
  port: 8081

spring:
  config:
    activate:
      on-profile: dev
  data:
    redis:
      host: localhost
      port: 6379
      password: # Optional, leave empty if no password
      database: 0
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true
